
    <section class="background-slide">
        <a href="#"><div class="slides">
            <img class="imeges-slides" src="<%= imeg1 %>" alt="">
            <p class="text-slides">
                <%= content1%>
            </p>
        </div></a>
        <a href="#"><div class="slides">
            <img class="imeges-slides" src="<%= imeg2 %>" alt="">
            <p class="text-slides">
                <%= content2%>
            </p>
        </div></a>
        <a href="#"><div class="slides">
            <img class="imeges-slides" src="<%= imeg3 %>" alt="">
            <p class="text-slides">
                <%= content3%>
            </p></a>
        </div>
    </section>