<%- include('./partials/head+header.ejs') %>
<%- include('./partials/background-picture.ejs') %>
    <section class="template-play">
        <div class="partion-play position1">
            <div class="card-play">
                <div>
                    <img class="flag-play" src="imeges/flags/FRA.png" alt="flag">
                    <p class="name-countries"> France </p>
                </div>
                <p id="vs-play"> VS </p>
                <div>
                    <img class="flag-play" src="imeges/flags/ESP.png" alt="flag">
                    <p class="name-countries"> Spain </p>
                </div>
            </div>
            <div class="content-play">
                <p class="specifications-play"> Sunday, 19 Azar 1401, 21:00  </p>
                <%- include('./partials/content-play.ejs') %>
        <div class="partion-play position2">
            <div class="card-play">
                <div>
                    <img class="flag-play" src="imeges/flags/USA.png" alt="flag">
                    <p class="name-countries"> USA </p>
                </div>
                <p id="vs-play"> VS </p>
                <div>
                    <img class="flag-play" src="imeges/flags/IRN.png" alt="flag">
                    <p class="name-countries"> Iran </p>
                </div>
            </div>
            <div class="content-play">
                <p class="specifications-play"> Sunday, 17 Azar 1401, 17:00  </p>
                <%- include('./partials/content-play.ejs') %>
        <div class="partion-play position3">
            <div class="card-play">
                <div>
                    <img class="flag-play" src="imeges/flags/POR.png" alt="flag">
                    <p class="name-countries"> Portugal </p>
                </div>
                <p id="vs-play"> VS </p>
                <div>
                    <img class="flag-play" src="imeges/flags/ITA.png" alt="flag">
                    <p class="name-countries"> Italy </p>
                </div>
            </div>
            <div class="content-play">
                <p class="specifications-play"> Sunday, 25 Azar 1401, 04:00  </p>
                <%- include('./partials/content-play.ejs') %>
        <div class="partion-play position4">
            <div class="card-play">
                <div>
                    <img class="flag-play" src="imeges/flags/BRA.png" alt="flag">
                    <p class="name-countries"> Brazil </p>
                </div>
                <p id="vs-play"> VS </p>
                <div>
                    <img class="flag-play" src="imeges/flags/JPN.png" alt="flag">
                    <p class="name-countries"> Japan </p>
                </div>
            </div>
            <div class="content-play">
                <p class="specifications-play"> Sunday, 23 Azar 1401, 00:00  </p>
                <p class="specifications-play tournament-play" > World Cup 2022 </p>
                <%- include('./partials/content-play.ejs') %>
            </div>
                <div class="partion-play position5">
            <div class="card-play">
                <div>
                    <img class="flag-play" src="imeges/flags/BRA.png" alt="flag">
                    <p class="name-countries"> Brazil </p>
                </div>
                <p id="vs-play"> VS </p>
                <div>
                    <img class="flag-play" src="imeges/flags/JPN.png" alt="flag">
                    <p class="name-countries"> Japan </p>
                </div>
            </div>
            <div class="content-play">
                <p class="specifications-play"> Sunday, 23 Azar 1401, 00:00  </p>
                <%- include('./partials/content-play.ejs') %>
    </section>
<%- include('./partials/footer.ejs')%>